<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>vue.js</title>
    <script src="js/vue.min.js"></script>
</head>
<body>
<!--Vue.js 都提供了完全的 JavaScript 表达式支持-->
<div id="app">
    {{5+5}}<br/>
    {{ok ? "yes":"no"}}<br/>
    {{message.split("").reverse().join("")}}<br/>
    <div v-bind:id="'list-'+id">参数在指令后以冒号指明, v-bind 指令被用来响应地更新 HTML 属性</div>
    <label for="control">看到下面的文字？</label><input type="checkbox" v-model="seen" id="control"/>
    <p v-if="seen">你看到我了</p>
    <p>{{message}}</p>
    <input type="text" v-model="message"/>
    <pre><a v-bind:href="url">菜鸟教程</a></pre>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
           ok: true,
            message: "hello monica",
            id: 1,
            seen: true,
            url: 'http://www.runoob.com'
        }
    });
</script>
</body>
</html>